.grid {
    display: flex;
    justify-content: space-around;
}

.grid>* {
    width: 48%;
}

main div .no-border {
    border: none;
}

@media screen and (max-width: 900px) {
    .grid {
        flex-direction: column;
    }

    .grid>* {
        width: 98%;
    }
}
